*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}

body {
  font-family: JetBrains Mono;
  font-size: 16px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 28px;
  font-weight: 700;
}

.header__list {
  display: flex;
  gap: 25px;
}

.header__link {
   cursor: pointer;
   font-weight: 700;
   position: relative;
   &::after {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      background-color: #00000000;
      height: 2px;
      width: 100%;
      transition: all 0.3s ease 0s;
   }
   &:hover {
      &::after {
         background-color: #000;
      }
   }
}

main {
  padding-top: 80px;
  height: 100%;
}

.main__container {
  display: flex;
}

.menu {
  width: 200px;
  height: 100%;
}

.menu__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.menu__item {
font-weight: 400;
  cursor: pointer;
  display: block;
  position: relative;
  display: flex;
  justify-content: space-between;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &.active {
    font-weight: 700;
  }
}

.content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.content__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content__list {
   display: none;
  &.active {
    display: grid;
  }
  column-gap: 25px;
  row-gap: 15px;
  grid-template-columns: 250px 250px 250px;
}

.drug {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  }
}

.drug__img {
  width: 220px;
  height: 180px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.drug__body {
  margin-top: 10px;
  width: 220px;
}

.drug__title {
  font-weight: 700;
  font-size: 20px;
}

.drug__price {
  margin-top: 7px;
  margin-bottom: 12px;
  font-size: 14px;
  font-style: italic;
}

.drug__btn {
   text-transform: uppercase;
  display: block;
  background-color: #38c68b;
  padding: 7px 10px;
  text-align: center;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #35be85;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &.added {
   background-color: #cecece;
   &:hover {
      background-color: #bfbfbf;
   }
  }
}

.shopping-cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff85;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
  &.active {
   display: flex;
  }
}
.shopping-cart__content {
  background-color: #fff;  
  height: 600px;
  border-radius: 20px;
  padding: 0px 20px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.45);
}
.shopping-cart__title {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
}
.shopping-cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shopping-cart__blocks {
  width: 100%;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  gap: 30px;
}
.shopping-cart__list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  width: 390px;
}
.shopping-cart__item {
  display: flex;
  align-items: center;
}
.item-shopping-cart {
  font-size: 16px;
}
.item-shopping-cart__id {
  font-weight: 700;
  margin-right: 10px;
}
.item-shopping-cart__title {
  width: 200px;
}
.item-shopping-cart__price {
  width: 70px;
}
.item-shopping-cart__ammount {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
#isc-ammount-add,
#isc-ammount-remove {
  cursor: pointer;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  display: flex;
}

#isc-ammount-add {
  background-color: hsla(155, 56%, 50%, 0.5);
}

#isc-ammount-remove {
  background-color: hsla(0, 56%, 47%, 0.5);
}

.item-shopping-cart__delete__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  height: 20px;
  width: 20px;
  background-color: #c0c0c0;

  cursor: pointer;
}

.item-shopping-cart__total {
display: flex;
}

.shopping-cart__form {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.form-shopping-cart__name {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0px;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  h1 {
    font-weight: 700;
  }
}
.form-shopping-cart__input {
  outline: none;
  height: 25px;
  width: 390px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #000;
  }
}
.shopping-cart__btn {
  display: block;
  width: 200px;
  background-color: #38c68b;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
}
